<ion-header>
  <ion-toolbar>
    <ion-searchbar debounce="300" animated placeholder="Producto" (ionChange)="search($event)" mode="ios" style="margin-top: 16px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of products" button (click)="dismissModal(item.id)">
      <ion-avatar slot="start">
        <ion-icon class="avatar-icon" [name]="item.icon"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>{{ item.name }}</h2>
        <p *ngIf="item.packageType">{{ item.packageType | titlecase }}  x{{ item.contentQuantity }}</p>
      </ion-label>
      <span>{{ item.salePrice | currency }}</span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll treshold='200px' (ionInfinite)="infiniteEvent()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
