<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Producto</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="name" type="text" [clearInput]="true"></ion-input>
      </ion-item>
  
      <ion-item-sliding #slider>
        <ion-item *ngIf="packages?.length > 4">
          <ion-label position="stacked">Tipo</ion-label>
          <ion-select formControlName="packageType">
            <ion-select-option [value]="package" *ngFor="let package of packages">{{ package | titlecase }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="packages?.length <= 4">
          <ion-segment formControlName="packageType" mode="ios">
            <ion-segment-button *ngFor="let package of packages" [value]="package">
              <ion-label>{{ package }}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="newPackageDialog();slider.close()">Agregar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item>
        <ion-label position="stacked">Cantidad contenida</ion-label>
        <ion-input formControlName="contentQuantity" inputmode="numeric" [clearInput]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Precio de venta</ion-label>
        <ion-input formControlName="salePrice" inputmode="numeric" [clearInput]="true"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button *ngIf="product?.id" (click)="deleteProduct()" color="danger" expand="block" style="margin-top: 20px">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Eliminar
    </ion-button>

    <ion-button (click)="onSubmit()" color="primary" expand="block" style="margin-top: 20px">
      <ion-icon slot="start" name="save"></ion-icon>
      Guardar
    </ion-button>
  </form>
</ion-content>
