<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar debounce="300" animated placeholder="Buscar" (ionChange)="search($event)" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="full">
    <ion-item *ngFor="let item of products; trackBy:getProductUpdTime" [detail]="true" [button]="true" (click)="showProductModal(item)">
      <ion-label class="ion-text-wrap">
        <h2>{{ item.name }}</h2>
        
        <ion-chip *ngIf="item.packageType" [outline]="true" color="primary" class="slim-chip">
          <ion-icon [name]="item.icon"></ion-icon>
          <ion-label>{{ item.packageType | titlecase }}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="item.category" [outline]="true" color="secondary" class="slim-chip">
          <ion-icon name="bookmark-outline"></ion-icon>
          <ion-label>{{ item.category }}</ion-label>
        </ion-chip>
      </ion-label>
      <span style="margin-right: 5px;">{{ item.salePrice | currency }}</span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll treshold='200px' (ionInfinite)="infiniteEvent(infinite)" #infinite>
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showFab">
    <ion-fab-button (click)="showProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
